<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6bf09b">  <td>21/10/04 12:51:00</td>   <td>0</td> <td title="&gt;&gt;BaseTest.setup(org.testng.ITestContext)[pri:0, instance:com.ui.automation.scripts.scrollToWebTable@1bc715b8]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2014563089</td>   <td></td> </tr>
<tr bgcolor="6bf09b">  <td>21/10/04 12:51:00</td>   <td>134</td> <td title="&lt;&lt;BaseTest.SuiteClose()[pri:0, instance:com.ui.automation.scripts.scrollToWebTable@1bc715b8]">&lt;&lt;SuiteClose</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="6bf09b">  <td>21/10/04 12:51:00</td>   <td>74</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.teardown()[pri:0, instance:com.ui.automation.scripts.scrollToWebTable@1bc715b8]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2014563089</td>   <td></td> </tr>
<tr bgcolor="6bf09b">  <td>21/10/04 12:51:00</td>   <td>68</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.flush()[pri:0, instance:com.ui.automation.scripts.scrollToWebTable@1bc715b8]">&lt;&lt;flush</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="7669c0">  <td>21/10/04 12:51:00</td>   <td>62</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scrollToWebTable.iServeRoutingLoginAuthentication()[pri:0, instance:com.ui.automation.scripts.scrollToWebTable@1bc715b8]">iServeRoutingLoginAuthentication</td> 
  <td>main@2014563089</td>   <td></td> </tr>
</table>
