<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AutomationTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8c3cb">  <td>21/10/05 18:49:55</td>   <td>0</td> <td title="&lt;&lt;BaseTest.SuiteClose()[pri:0, instance:com.ui.automation.scripts.scrollToWebTable@275fe372]">&lt;&lt;SuiteClose</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1483145520</td>   <td></td> </tr>
<tr bgcolor="e8c3cb">  <td>21/10/05 18:49:53</td>   <td>-1381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.flush()[pri:0, instance:com.ui.automation.scripts.scrollToWebTable@275fe372]">&lt;&lt;flush</td> 
<td>&nbsp;</td>  <td>main@1483145520</td>   <td></td> </tr>
<tr bgcolor="9175d8">  <td>21/10/05 18:49:49</td>   <td>-5525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scrollToWebTable.iServeRoutingLoginAuthentication()[pri:0, instance:com.ui.automation.scripts.scrollToWebTable@275fe372]">iServeRoutingLoginAuthentication</td> 
  <td>main@1483145520</td>   <td></td> </tr>
<tr bgcolor="e8c3cb">  <td>21/10/05 18:49:45</td>   <td>-9454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.reportHeader(java.lang.reflect.Method,org.testng.ITestContext,java.lang.String)[pri:0, instance:com.ui.automation.scripts.scrollToWebTable@275fe372]">&gt;&gt;reportHeader</td> 
<td>&nbsp;</td>  <td>main@1483145520</td>   <td></td> </tr>
<tr bgcolor="e8c3cb">  <td>21/10/05 18:49:45</td>   <td>-9758</td> <td title="&gt;&gt;BaseTest.setup(org.testng.ITestContext)[pri:0, instance:com.ui.automation.scripts.scrollToWebTable@275fe372]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1483145520</td>   <td></td> </tr>
<tr bgcolor="e8c3cb">  <td>21/10/05 18:49:54</td>   <td>-327</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.teardown()[pri:0, instance:com.ui.automation.scripts.scrollToWebTable@275fe372]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1483145520</td>   <td></td> </tr>
</table>
